PORT=5002
JWT_SECRET=lifepulse_secret_key_2026
DB_HOST=localhost
DB_PORT=3306
DB_USER=root
DB_PASS=root
DB_NAME=lifepulse_db
DB_DIALECT=mysql
DASHSCOPE_API_KEY=
QWEN_MODEL=

# 微信 JS-SDK 配置 (用于兼容 iOS 微信语音录入)
WECHAT_APP_ID=
WECHAT_APP_SECRET=

# 腾讯云 COS 配置
COS_SECRET_ID=
COS_SECRET_KEY=
COS_BUCKET=
COS_REGION=  # 你的地域
CDN_URL= # 可选，如果有 CDN

# 天地图 API 配置
TIANDITU_TOKEN=